<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title> -->
    <style>
      button {
        margin-top: 16px;
        background-color: rgb(181, 203, 252);
        color: rgb(252, 242, 228);
        border: none;
        height: 38px;
        width: 142px;
        border-radius: 8px;
      }
      a {
        font-style: none;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header>
      <h2>Hi {{firstname}} ... !</h2>
      <h4>Welcome to MovieTix App</h4>
      <p>cilck button activation below for activate your MovieTix account</p>
    </header>
    <button>
      <a href="{{link}}">Activate my account</a>
    </button>
  </body>
</html>
